<!DOCTYPE html>
<html lang="en">
<head>
    <title>city List</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Visited Cities</h2>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark"> <!-- creates a dark background for the table header -->
                <tr>
                    <th>City</th>
                    <th>Visits</th>
                </tr>
            </thead>
            <tbody> <!-- table body -- loop through all of the cities -->
                {% for city in cities %}
                <tr>
                    <td>{{ city.City }}</td>
                    <td>{{ city.Visits }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </body>
</html>
