<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- display a flash message here, if necessary -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <h1 class="mt-5">User Management System</h1>
        <div class="mt-3">
            <!-- Add User Button -->
            <a href="/add-city" class="btn btn-primary">Add City</a>
            <!-- Delete User Button -->
            <a href="/delete-city" class="btn btn-danger">Delete City</a>
            <!-- Update User Button -->
            <a href="/update-city" class="btn btn-secondary">Update City</a>
            <!-- Display Visited Cities Button -->
            <a href="/display-visited-cities" class="btn btn-info">Display Visited Cities</a>
            <!-- Display All Cities Button -->
            <a href="/display-cities" class="btn btn-info">Display All Cities</a>
        </div>
    </div>
</body>
</html>
